<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/template.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapp-top">
</div>
<div id="wrapp-middle">
  <div class="block">
	<div id="header">
      <div id="header-1">
  		<div id="logo"><img src="../../images/stories/logo.png" width="262" height="86" /></div>
        <div id="menu">Content for  id "menu" Goes Here</div>
      </div>
    </div>
    <div id="banner">
      <div id="banner-1"><img src="../../images/stories/banner.jpg" width="904" height="226" hspace="0" vspace="0" border="0" /></div>
    </div>
    <div id="content">
      <div id="line-1">
        <div id="col2-left">Content for  id "line-2" Goes Here</div>
        <div id="col2-right">Content for  id "col2-right" Goes Here</div>
        <div class="clearfix">Content for  class "clearfix" Goes Here</div>
      </div>    
      <div id="line-2">
        <div id="col3-left">
          <div class="col-block">Content for  id "content" Goes Here</div>
        </div>
        <div id="col3-middle">
          <div class="col-block">Content for  id "col3-middle" Goes Here</div>
        </div>
        <div id="col3-right">
          <div class="col-block">Content for  id "col3-right" Goes Here</div>
        </div>
        <div class="clearfix">Content for  class "clearfix" Goes Here</div>
      </div>
    </div>
  </div>
</div>
<div id="wrapp-bottom">
  <div class="block">
    <div id="bottom">Content for  id "bottom" Goes Here</div>
  </div>
</div>
</body>
</html>
